/* background when you click removal link */
div.descr{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/boxesshutterstock4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

.info input{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}