/* background when you click removal link */
div.descrRemoval{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/boxesshutterstock4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

.info input{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

/* ====================================================================
===========================storage.html=============================== */
div.descrStorage{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/storage.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

/* ==========================================================================
============================shipping.html==================================== */
div.descShipping{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/shipping.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

/* ===========================================================================
=========================descCleaning.html================================ */
div.descCleaning{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/cleaning.jpeg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

/* ===================================================================
==========================commercial.html============================ */
div.descCommercial{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/commercial.jpg);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}

/* ========================================================================
=================================about.html================================ */
div.descAbout{
  width: 100%;
  height: 85vh;
  background-image: linear-gradient( #00000054, #0c0c0c61), url(../images/about2.png);
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -22;
}